<ion-card color="dark">
    <ion-card-header>
        <ion-card-subtitle>
            <span class="text-primary">{{ index + 1 }}.</span>
            <span class="new-source-name">{{ newData.source.name }}</span>
        </ion-card-subtitle>
        <ion-card-title (click)="openNews()">{{ newData.title }}</ion-card-title>
    </ion-card-header>
    <ion-img *ngIf="newData.urlToImage"
            (click)="openNews()" 
            [src]="newData.urlToImage"></ion-img>
    <ion-card-content>
        <p>
            {{ newData.description }}
        </p>
    </ion-card-content>
</ion-card>