<ion-header no-border>
  <ion-toolbar>
    <ion-title>
        Encabezados
    </ion-title>
  </ion-toolbar>
  <ion-segment 
      #segments 
      scrollable 
      mode="md" 
      color="primary"
      (ionChange)="changeCategory( $event )">
    <ion-segment-button 
      mode="md"
      *ngFor="let category of categories"
      [value]="category"
    >
      <ion-label text-capitalize>{{ category }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <app-listnews [news]="news"></app-listnews>
      <ion-infinite-scroll 
        threshold="150px"
        (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
            loadingSpinner="crescent"
            loadingText="Cargando..."
        >
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
