<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            Newsmavl
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col  size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
                *ngFor="let item of news; let i = index">
                <ion-card color="dark">
                    <ion-card-header>
                        <ion-card-subtitle>
                            <span class="text-primary">{{ i + 1 }}.</span>
                            <span class="new-source-name">{{ item.source.name }}</span>
                        </ion-card-subtitle>
                        <ion-card-title>{{ item.title }}</ion-card-title>
                    </ion-card-header>
                    <ion-img *ngIf="item.urlToImage" [src]="item.urlToImage"></ion-img>
                    <ion-card-content>
                        <p>
                            {{ item.description }}
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>